@font-face {
    font-family: 'PT Sans';
    src: url('@/assets/fonts/PTSans/PTSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'PT Sans';
    src: url('@/assets/fonts/PTSans/PTSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
    font-weight: 400;
}